/* -------------------- GENERAL -------------------- */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(auto, 1fr) 6fr;
    grid-template-rows: 1fr 4fr;
}

* {
    font-family: sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

/* -------------------- SIDEBAR GRID -------------------- */
.sidebar {
    background-color: blue;
    height: 1fr;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 9fr;
}

.logo {
    background-color: aqua;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo img {
    height: 40px;
}

.logo h1 {
    font-size: 30px;
    font-weight: bold;
}

.sidebar-nav {
    background-color: rgb(28, 100, 255);
}

.sidebar-nav ul li, .sidebar-options ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-nav img, .sidebar-options img {
    height: 20px;
    margin-right: 10px;
}

.sidebar-nav a, .sidebar-options a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}

.sidebar-options {
    background-color: rgb(61, 4, 216);
}

/* -------------------- HEADER GRID -------------------- */
header {
    background-color: green;
    height: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 1fr;
}

.header-search {
    background-color: rgb(123, 192, 123);
    grid-column: 1 / 3;
    display: flex;
}

#site-search {
    min-width: 200px;
    flex: 1;
    /* margin: 0px 200px 0px 20px; */
}

.header-name {
    background-color: rgb(25, 180, 25);
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-content: center;
}

.header-name-pic {
    grid-row: 1 / 3;
}

.header-name-subtext {
    display: flex;
    align-items: end;
}

.header-name-maintext {
    display: flex;
    align-items: start;
}

.header-btn {
    background-color: rgb(7, 133, 7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 50px;
}

/* -------------------- CONTENT GRID -------------------- */
.main-content div {
    border: 1px solid black;
}

.main-content {
    background-color: orange;
    display: grid;
    grid-template-columns: 3fr minmax(400px, 1fr);
    /* padding: 20px;
    gap: 20px; */
}

.main-content-container {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.projects {
    background-color: rgb(253, 255, 142);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* ----- Cards ----- */

/* ----- Announcement ----- */
.announcements {
    background-color: yellow;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcements-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 168, 168);
}

/* ----- Trending ----- */
.trendings {
    background-color: rgb(190, 190, 3);
    display: grid;
    grid-template-rows: 50px 1fr;
}

.trendings-subcontent {
    display: grid;
    grid-template-columns: 1fr 5fr;
}