/* -------------------- GENERAL -------------------- */
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(auto, 1fr) 6fr;
    grid-template-rows: 1fr 4fr;
}

* {
    font-family: sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

:root {
    --main-color: #0D0D0D;
    --main-color-2: #202020;
    --sub-color: #EDF24B;
    --sub-color-2: #203F59;
    --text-color-main: #F2F2F2;
}

/* -------------------- SIDEBAR GRID -------------------- */
.sidebar {
    background-color: var(--main-color);
    color: var(--text-color-main);
    height: 1fr;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr 9fr;
    padding: 0px 20px;
    gap: 30px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.logo h1 {
    font-size: 30px;
    font-weight: bold;
}

.sidebar-nav, .sidebar-options {
    padding: 10px;
}

.sidebar-nav ul li, .sidebar-options ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-nav img, .sidebar-options img {
    height: 20px;
    margin-right: 10px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.sidebar-nav a, .sidebar-options a {
    color: var(--text-color-main);
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
}

.sidebar-nav ul li a:hover, .sidebar-options ul li a:hover {
    color: rgb(175, 175, 175);
}

/* .sidebar-options {
    background-color: rgb(61, 4, 216);
} */

/* -------------------- HEADER GRID -------------------- */
header {
    padding: 0px 30px;
    background-color: var(--text-color-main);
    height: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
}

.header-search {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search-left, .header-search-right {
    display: flex;
}

.header-search-right button {
    margin-left: 20px;
}

#search-btn {
    margin-right: 10px;
}

#site-search {
    border: 0px;
    border-radius: 20px;
    background-color: rgb(212, 212, 212);
    height: 25px;
    /* margin: 0px 200px 0px 20px; */
}

.header-name {
    background-color: rgb(25, 180, 25);
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-content: center;
}

.header-name-pic {
    grid-row: 1 / 3;
}

.header-name-pic img {
    border-radius: 40px;
}

.header-name-subtext {
    display: flex;
    align-items: end;
}

.header-name-maintext {
    display: flex;
    align-items: start;
}

.header-btn {
    background-color: rgb(7, 133, 7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    gap: 50px;
}

#profile-btn img {
    border-radius: 20px;
}

#mimsoo-text p {
    font-weight: bold;
}

/* -------------------- CONTENT GRID -------------------- */
.main-content div {
    border: 1px solid black;
}

.main-content {
    background-color: orange;
    display: grid;
    grid-template-columns: 3fr minmax(400px, 1fr);
    /* padding: 20px;
    gap: 20px; */
}

.main-content-container {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.projects {
    background-color: rgb(253, 255, 142);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.project-card {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

/* ----- Cards ----- */

/* ----- Announcement ----- */
.announcements {
    background-color: yellow;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.announcements-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 168, 168);
}

/* ----- Trending ----- */
.trendings {
    background-color: rgb(190, 190, 3);
    display: grid;
    grid-template-rows: 50px 1fr;
}

.trendings-subcontent {
    display: grid;
    grid-template-columns: 1fr 5fr;
}