/* -------- GENERAL -------- */
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: minmax(180px, 1fr) 6fr;
    grid-template-rows: 1fr 4fr;
}

/* -------- CONTENT GRID -------- */
.main-content {
    background-color: orange;
    height: 1fr;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr minmax(180px, 1fr);
}

.projects {
    background-color: rgb(253, 255, 142);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.announcements {
    background-color: yellow;
}

.trendings {
    background-color: rgb(190, 190, 3);
}

/* -------- SIDEBAR GRID -------- */
.sidebar {
    background-color: blue;
    height: 1fr;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
}

.logo {
    background-color: aqua;
}

.sidebar-nav {
    background-color: rgb(28, 100, 255);
}

.sidebar-options {
    background-color: rgb(61, 4, 216);
}

/* -------- HEADER GRID -------- */
header {
    background-color: green;
    height: 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-search {
    background-color: rgb(123, 192, 123);
    grid-column: 1 / 3;
}

.header-name {
    background-color: rgb(25, 180, 25);
}

.header-buttons {
    background-color: rgb(7, 133, 7);
}